* {  
  margin: 0;
  padding: 0;  
}
body {
  background-color: #012860;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;  
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.passwordBox {
  background-color: #fec84d;
  width: 350px;
  padding: 20px;
  text-align: center;
  -webkit-box-shadow: 12px 15px 0px 0px #001d47;
  -moz-box-shadow: 12px 15px 0px 0px #001d47;
  box-shadow: 12px 15px 0px 0px #001d47;
}

.passwordContent {
  display: flex;
  margin-top: 20px;
}
.passwordContent input {
  flex-basis: 80%;
  padding: 10px;
  font-size: 16px;
  border: #149aa2 1px solid;
  background-color: #149aa2;
}
.passwordContent button {
  flex-basis: 20%;
  background-color: #012860;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  border: 1px solid #012860
}
.passwordContent button:active {
    background-color: #163f78;
    box-shadow: inset 0px 1px #000;
    text-shadow: 0 2px 7px #000;
}

.passLength {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}
.passLength label {
  flex-basis: 80%;
  width: 100%;
  font-size: 18px;
  text-align: left;
  font-weight: 600;
}
.passLength input {
  flex-basis: 10%;
  width: 100%;
  border: none;
  padding: 5px;
}

.generateBtn {
  background-color: #012860;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  margin: 10px 0;
  cursor: pointer;
}


.generateBtn:active {
    background-color: #163f78;
    box-shadow: inset 0px 1px #000;
    text-shadow: 0 2px 7px #000;
}